<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{% url 'home' %}">Создание презентаций</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Помощь</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Обсуждение</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Алгоритм
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Создание файла</a>
          <a class="dropdown-item" href="#">Выбор дизайна и цвета</a>
          <a class="dropdown-item" href="#">Размещение текста</a>
          <a class="dropdown-item" href="#">Медиафайлы</a>
          <a class="dropdown-item" href="#">Эффекты</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
